unstructured
langchain_core
langchain_openai
langchain_text_splitters
langchain
Pillow
streamlit
pdfminer.six
pillow_heif
unstructured_inference
pytesseract
unstructured_pytesseract
langchain_community
opencv-python
pdf2image
chromadb
openai
pysqlite3-binary